<%- include('includes/head.ejs', { title: 'Rastreador de Buscalibre' }) %>
<body>
<%- include('includes/nav.ejs') %>

<!-- MAIN CONTENT -->
<div class="flex flex-col gap-4 items-center py-3 h-full bg-slate-300">
   
   <% if (inputData.hasError) { %>
      <p class="p-3 font-bold text-black bg-red-800 rounded-md"><%= inputData.message %></p>
   <% } %>
   <!-- LIST OF CARDS -->
   <% for (const libro of libros) { %>
      <!-- CARD -->
      <div id="singleCard" class="flex flex-col items-strech md:flex-row rounded-md bg-slate-400 w-3/4 md:w-[40rem]">

         <!-- IMAGE AND DELETE BUTTON -->
         <div class="flex flex-col gap-0 justify-center">
            <img src="<%= libro.image %>" alt="<%= libro.titulo %>" class="object-contain self-center m-2 mb-1 h-48 rounded-md duration-300 md:h-64 hover:scale-105">
            <% if (locals.userData) { %>
               <a href="/dellink/<%= libro.dateAdded %>" class="self-center px-2 mt-0 mb-1 text-xs text-center rounded-md duration-300 hover:text-slate-700 bg-slate-500">borrar</a>
            <% } %>
         </div>
         
         <!-- TEXT AND GRAPH -->
         <div class="flex flex-col justify-between grow">
            <div class="flex flex-col justify-between items-center mx-2 my-1 md:flex-row md:items-start">
               <a href="<%= libro.link %>" target="_blank"><h1 class="text-lg font-bold duration-300 hover:scale-105 line-clamp-1 hover:text-slate-700"><%= libro.title %></h1></a>
               <h2 class="text-lg font-semibold">$<%= libro.prices[libro.prices.length - 1].price %></h2>
            </div>
            <!-- GRAPH -->
            <div class="p-2">
               <canvas id="chart<%= libro.dateAdded %>"></canvas>
            </div>
            <!-- / GRAPH -->
         </div>
         <!-- / TEXT AND GRAPH -->
      </div>
      <!-- / CARD -->
   <% } %>
   <!-- / LIST OF CARDS -->

</div>
<!-- / MAIN CONTENT -->

<%- include('includes/footer.ejs') %>

<script src="/chartjs/dist/chart.umd.js"></script>

<script>

   <% for (const libro of libros) { %>
      const ctx<%= escape(libro.dateAdded) %> = document.getElementById('chart<%= libro.dateAdded %>');
      
      <% libro.prices.sort((a, b)=> b.date + a.date); %>
      let unix<%= libro.dateAdded %> = <%= JSON.stringify(libro.prices.map(field => field.date)); %>
      const human<%= libro.dateAdded %> = unix<%= libro.dateAdded %>.map(timestamp => {
         const date = new Date(timestamp);
         const mxDate = date.toLocaleDateString("es-MX");
         return mxDate.slice(0, -5);
      });

         new Chart(ctx<%= libro.dateAdded %>, {
            type: 'line',
            data: {
               labels: human<%= libro.dateAdded %>,
               datasets: [{
                  data: <%= JSON.stringify(libro.prices.map(field => parseFloat(field.price))) %>,
                  borderWidth: 2,
                  borderColor: '#f8fafc'
               }]
            },
            options: {
               scales: {
                  x: {
                     ticks: {
                        color: '#f8fafc',
                        minRotation: 40
                     }
                  }
               },
               plugins: {
                  legend: {
                     display: false // Hide the legend entry
                  }
               }
            }
         });
         
   <% } %>


   </script>
     
</body>
</html>